*{
  font-family: sans-serif;
}
body{
  background-color: rgb(232, 235, 228);
}
h2{
  width:fit-content;
  background-color: black;
  color: white;
  padding: 3%;
  border-radius:10px;
}
.males{
  width:fit-content;
  background-color: lightblue;
  padding: 2%;
}
select{
  width:100px;
  height:30px;
}
.females{
  width:fit-content;
  background-color: lightcoral;
  padding: 2%;
}
.container{
 width: 300px;
margin: 10vw auto;
border: 2px solid #e7e7e7;
padding: 20px;
background-color: white;
}